In [21]:
import pandas as pd
def check_actor_actress(row):
    if pd.isnull(row['lead_actor_actress']):
        return False
    else:
        return True


def process_data():
    # Do not alter this line.
    biopics = pd.read_csv("biopics.csv", encoding='latin-1')
    # Write your code here.
    biopics.drop_duplicates(inplace=True,ignore_index=True)
    biopics.rename(columns={"box_office":"earnings"}, inplace=True)
    biopics.dropna(axis=0,  subset=["earnings"],inplace=True)
    biopics = pd.DataFrame(biopics.loc[biopics["year_release"]>1990])

    biopics = biopics.astype({'type_of_subject':'category', 'country':'category'},copy=False)
    biopics["lead_actor_actress_known"] = biopics.apply(lambda row: check_actor_actress(row), axis=1)
    biopics["earnings"] = biopics["earnings"].apply(lambda x: x/1000000) 
    biopics = biopics[['title', 'year_release', 'earnings', 'country', 'type_of_subject', 'lead_actor_actress', 'lead_actor_actress_known']]
    biopics.sort_values('earnings', ascending=False,inplace=True)
    # Remember to return the right object.
    return biopics.reset_index(drop=True)

title                   object
site                    object
country               category
year_release             int64
earnings                object
director                object
number_of_subjects       int64
subject                 object
type_of_subject       category
race_known              object
subject_race            object
person_of_color          int64
subject_sex             object
lead_actor_actress      object
dtype: object
              title                                  site country  \
1  12 Years a Slave  http://www.imdb.com/title/tt2024544/   US/UK
2         127 Hours  http://www.imdb.com/title/tt1542344/   US/UK
3              1987  http://www.imdb.com/title/tt2833074/  Canada
4          20 Dates  http://www.imdb.com/title/tt0138987/      US
5                21  http://www.imdb.com/title/tt0478087/      US

   year_release earnings         director  number_of_subjects  \
1          2013   $56.7M    Steve McQueen                   1
2          2010   $18.3M      Danny Boyle                   1
3          2014        -    Ricardo Trogi                   1
4          1998    $537K  Myles Berkowitz                   1
5          2008   $81.2M   Robert Luketic                   1

            subject type_of_subject race_known      subject_race  \
1   Solomon Northup           Other      Known  African American
2      Aron Ralston         Athlete    Unknown               NaN
3     Ricardo Trogi           Other      Known             White
4   Myles Berkowitz           Other    Unknown               NaN
5           Jeff Ma           Other      Known    Asian American

   person_of_color subject_sex lead_actor_actress
1                1        Male   Chiwetel Ejiofor
2                0        Male       James Franco
3                0        Male  Jean-Carl Boucher
4                0        Male    Myles Berkowitz
5                1        Male       Jim Sturgess

In [37]:
import numpy as np


import numpy as np


def augmented_euclidean_dist(a, b):
    # Write your code here.
    # Remember to return the right object.
    filter = (a != -999) & (b != -999)
    
    _a = a[filter]
    _b = b[filter]

    if len(_a) < 2:
        return np.Inf
    else:
        return np.sqrt(np.sum((_a - _b)**2))

    
    
    

a = np.array([1, 2, 3.5, 4.24])
b = np.array([-999, 4, 1.2, 3])
c = np.array([2, 1, -999, -999])

#augmented_euclidean_dist(a, a)    # returns 0.0
#augmented_euclidean_dist(a, 2*a)  # returns 5.9352
#augmented_euclidean_dist(a, b)    # returns 3.2905
#augmented_euclidean_dist(a, c)    # returns 1.4142
augmented_euclidean_dist(b, c)    # returns inf

4
[False  True False False]